<ion-view view-title="Penalty" name="penalty-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label>Vehicle Number</label>
          <label class="item item-input">
              <input type="text" placeholder="Enter vehicle number" ng-model="data.search" ng-blur="findDetails(data.search);" required>
          </label>
          <br>
          <label>Penalty Type</label>
          <label class="item item-input item-select">
              <div class="input-label">
                  &nbsp;
              </div>
              <select ng-model="penaltyType" ng-change="selectValue(penaltyType);">
                  <option>Helmet</option>
                  <option>Seat Belt</option>
                  <option>One Way Traffic</option>
                  <option>Others</option>
              </select>
          </label>
          <br>
          <label>Penalty Amount</label>
          <label class="item item-input">
              <input type="text" ng-model="amount">
          </label>
          <br>
          <p>Owner's Information</p>
          <label>Name</label>
          <label class="item item-input">
              <input type="text" ng-model="name">
          </label>
          <br>
          <label>Mobile Number</label>
          <label class="item item-input">
              <input type="text" ng-model="phone">
          </label>
          <br>
          <label>Address</label>
          <label class="item item-input">
              <input type="text" ng-model="address">
          </label>
          <br>
          <p>Driver's Information</p>
          <ion-checkbox ng-model="isChecked" ng-click="setData(isChecked);">Same as owner's info</ion-checkbox>
          <br>
          <label>Name</label>
          <label class="item item-input">
              <input type="text" ng-model="driverName">
          </label>
          <br>
          <label>Mobile Number</label>
          <label class="item item-input">
              <input type="text" ng-model="driverPhone">
          </label>
          <br>
          <label>Address</label>
          <label class="item item-input">
              <input type="text" ng-model="driverAddress">
          </label>
          <br>
          <button class="button button-assertive" ng-click="takePhoto();">
            Capture
          </button>
          <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
      </div>
      <button class="button button-block button-calm" ng-click="submit(data,name,phone,address,driverName,driverPhone,driverAddress);">Submit</button>
  </ion-content>
</ion-view>