#display-image {
  display: block;
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

#display-info {
  margin-top: -2%;
  width: 100%;
  z-index: 2;
}

.custom {
  background-color: rgb(228, 228, 228) !important; /* This sets the background color*/
  font-family: Raleway !important;
 }

 .header {
  background-color: black !important; /* This sets the background color*/
  font-family: Raleway !important;
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  color: black;    /*Text color for each item*/
  font-family: Raleway !important;
}
 
/*Changes the border for the last item*/
.custom .item:last-child {
  font-family: Raleway !important;
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
  font-family: Raleway !important;
}
 
/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: black;  /*Text color for each item, overrides the color property above*/
  font-family: Raleway !important;
}
.item-select {
  width: 100%; /* Or whatever you'd like the width to be */
}
